{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookirynth{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/burgerMenu.js' %}" defer></script>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>

<body>
<div class="page-wrapper">
<header class="navbar">

    <!-- LEFT SIDE (LOGO) -->
    <div class="logo">
        <a class="logo-link" href="{% url 'home' %}">
            <img class="logo-image" src="{% static 'images/logo.png' %}" alt="Bookirynth Logo">
        </a>
    </div>

    <!-- RIGHT SIDE (NAVIGATION) -->
     <nav class="nav-right">

        <a href="{% url 'cart' %}" class="cart-icon">
            <span class="cart-symbol">🛒</span>

            {% if cart_count > 0 %}
                <span class="cart-badge">{{ cart_count }}</span>
            {% endif %}
        </a>

    <!-- BURGER MENU -->
    <div class="burger-menu">

        <button class="burger-button" type="button">
            ☰
        </button>

        <div class="burger-dropdown">

            {% if user.is_authenticated %}

                <a href="{% url 'logout' %}" class="burger-link">
                    Logout
                </a>
{% comment %}
                {% if user.is_staff %}
                    <a href="{% url 'stock' %}" class="burger-link">Stock</a>
                    <a href="{% url 'users' %}" class="burger-link">Users</a>
                {% endif %}
{% endcomment %}
            {% else %}

                <a href="{% url 'login' %}" class="burger-link">Login</a>
                <a href="{% url 'register' %}" class="burger-link">Register</a>

            {% endif %}

        </div>
    </div>

</nav>
</header>


<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <p>© 2026 Bookyrinth</p>
</footer>
</div>

</body>
</html>